<%= link_to "Reload", stores_path %>
<br />

<table>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.id %></td>
      <td><%= link_to store.name, store_path(store) %></td>
    </tr>
  <% end %>
</table>
